<a href="https://colab.research.google.com/github/daanielnp/IYKRA/blob/main/Practice%20Case%20Data%20Fellowship%20Batch%206-Daniel%20Purwandi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Practice Case Python Data Fellowship Batch 6**

Daniel Nugraha Purwandi

**Task 1** - *Create a view that only shows the most updated transactions for each id, so there is no duplicate id inside the view!*

---

In [35]:
import pandas as pd 
# Import Library

In [36]:
#Create empty dataframe 
data = pd.DataFrame(columns = ['id','insert_time','tx_amount','tx_type','status'])

In [48]:
# Input data Function
def input_data():
    status = ''
    id_count = 0
    insert_time_count = 0
    
    id_num = int(input('Input id : '))
    insert_time = input('Input date (dd/mm/yyyy) : ')
    tx_amount = int(input('Input transaction amount : '))
    tx_type = input('Input transaction type (Buy/Sell) : ')
    #To get the input
    
    for i in range(len(data)):
        if ((data['id'][i] == id_num) & (data['insert_time'][i] == insert_time)):
            id_count += 1
            insert_time_count += 1
        elif ((data['id'][i] == id_num) & (data['insert_time'][i] != insert_time)):
            id_count += 1
    #Iteration to count the number of id and insert time
    
    if ((id_count % 2 == 0) & (insert_time_count % 2 == 0)) or ((id_count % 2 == 1) & (insert_time_count % 2 == 0)):
        if (data.empty):
            status = 'Open'
        status = 'Open'
    if ((id_count % 2 == 1) & (insert_time_count % 2 == 1)) or ((id_count % 2 == 0) & (insert_time_count % 2 == 1)):
        status = 'Close'
    #Iteration for status

    data_input = []
    data_input.append(id_num)
    data_input.append(insert_time)
    data_input.append(tx_amount)
    data_input.append(tx_type)
    data_input.append(status)
    
    return data_input

In [55]:
data_to_insert = input_data()

Input id : 2
Input date (dd/mm/yyyy) : 25/06/2021
Input transaction amount : 1200
Input transaction type (Buy/Sell) : Buy

In [56]:
data.loc[len(data)] = data_to_insert

In [60]:
data

  id insert_time tx_amount tx_type status
0  1  23/06/2021      1450     Buy   Open
1  2  24/06/2021      2250     Buy   Open
2  1  25/06/2021      1300    Sell   Open
3  1  23/06/2021      1200    Sell  Close
4  2  24/06/2021      2500    Sell  Close
5  2  25/06/2021      1200     Buy   Open

In [61]:
data.to_csv('all_record.csv', index=False)
# Save All Record data to csv

In [64]:
update_trx = data.groupby('id')

update_trx = (pd.concat([update_trx.tail(1)]).drop_duplicates().sort_values('id').reset_index(drop=True))

update_trx
# Save most updated transaction record by each Id

  id insert_time tx_amount tx_type status
0  1  23/06/2021      1200    Sell  Close
1  2  25/06/2021      1200     Buy   Open

In [65]:
update_trx.to_csv('updated_trx_per_id.csv', index=False)

**Task 2** - *Write a query to get the rolling sum total of sales using the window function!*

---

In [70]:
import io
import requests
# Import Library

In [71]:
url = "https://raw.githubusercontent.com/daanielnp/IYKRA/main/dataset_b.csv"
data_b = requests.get(url).content
# Get csv data from Github

In [75]:
# Create rolling sum function
def rolling_sum(dataset, window=2):
    df = pd.read_csv(io.StringIO(dataset.decode('utf-8')))
    df['Date'] = df['Date'].astype('datetime64[ns]')
    df = df.set_index('Date')
    return df.Sales.rolling(window=window).sum()

rolling_sum(data_b, window=2)

Date
2021-01-01       NaN
2021-01-02     134.0
2021-01-02     157.0
2021-01-02     257.0
2021-01-03     279.0
2021-01-03     169.0
2021-01-04     565.0
2021-01-04    1177.0
2021-01-05     958.0
2021-01-06     564.0
2021-01-07     264.0
2021-01-08      68.0
Name: Sales, dtype: float64

**Task 3** - *Write a code for dataset C*

---

In [76]:
import urllib
import json
# Import Library

In [82]:
# Get JSON (txt) data from GitHub
link = "https://raw.githubusercontent.com/daanielnp/IYKRA/main/dataset_c.txt"
file_json = urllib.request.urlopen(link)
data_c = json.load(file_json)
file_json.close()

**CSV 1**

In [83]:
# Create Function for CSV 1
def get_id(data):
    user_id = []
    txs_id = []
    for data in data:
        for txs in data["txs"]:
            user_id.append(data["user"]["id"])
            txs_id.append(txs["id"])
    print('user_id :',user_id)
    print('txs_id :',txs_id)
    df = pd.DataFrame({'user_id':user_id, 'txs_id':txs_id})
    print('\ndata frame :')
    print(df)
    df.to_csv('data_3a.csv', index=False)
 
get_id(data_c)

user_id : [1, 1, 1, 2, 2, 2]
txs_id : [1, 3, 5, 2, 4, 6]

data frame :
   user_id  txs_id
0        1       1
1        1       3
2        1       5
3        2       2
4        2       4
5        2       6

**CSV 2**

In [84]:
# Create Function for CSV 2
def get_name_id(data):
    name_email = []
    for data in data:
        name_email.append(data["user"])
    df = pd.DataFrame(name_email)
    df.to_csv("data_3b.csv", index=False)
    print('\nResult :')
    print(df)

get_name_id(data_c)

Result :
   id  name             email
0   1  agus  agus@example.com
1   2  asep  asep@example.com

**CSV 3**

In [85]:
# Create Function for CSV 3
def get_trx_data(data):
    df_trx = []
    for data in data:
        for trx in data["txs"]:
            df_trx.append(trx)
    df = pd.DataFrame(df_trx)
    df.to_csv("answer_3c.csv", index=False)
    print('\nResult :')
    print(df)

get_trx_data(data_c)

Result :
   id     tx_date  tx_amount tx_type
0   1  2020-01-01         10     buy
1   3  2020-02-01         10     buy
2   5  2020-03-01         20    sell
3   2  2020-01-01         10    sell
4   4  2020-02-01         10    sell
5   6  2020-03-01         20     buy